.badge-filter {
  background-color: #d6d2d2;
  border: 1px dashed #9c9c9c;
  color: #505050;
  padding: 4px 7px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 400;
  margin: 7px 0;
}

.badge-grey {
  background-color: $gray-400;
  color: $dark;
}
