#home-splash {
  background-image: url("./../assets/beech.jpg");
  height: 72vh;
  background-position: center;
  background-size: cover;
  position: relative;
  &:before{
    content: " ";
    background-color: #9CAABF;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: .5;
  }
}

.header-navigation{
  height: 60px;
  display: flex;
  align-items: center;
  box-shadow: $box-shadow-sm;
  position: relative;
  z-index: 999999;
}

.search-collapse{
  position: absolute;
  width: 100%;
  background-color: $gray-200;
  top:60px;
  box-shadow: $box-shadow;
}

.assistant-collapse{
  position: absolute;
  width: 100%;
  background-color: white;
  top:60px;
  height:1000px;
  //box-shadow: $box-shadow;
  z-index: 99999;
}

.account-avatar{
  svg{
    height: 35px!important;
    float: none!important;
  }
}

.arrow-container{
  height: 100px;
}

.cursor-pointer{
  cursor: pointer;
}

.round {
  //border: 1px solid $light;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  transform: rotate(90deg);
}

#cta{
  width:100%;  position: absolute;
  top: -3px;
}

#cta .arrow{
  left: 30%;
}
.arrow {
  position: absolute;
  bottom: 0;  margin-left:0px; width: 12px; height: 12px; background-size: contain; top:15px;
}
.segunda{
  margin-left: 8px;
}
.down-arrow {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojOWU5ZTllfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}

@keyframes bounceAlpha {
  0% {opacity: 1; transform: translateX(0px) scale(1);}
  25%{opacity: 0; transform:translateX(10px) scale(0.9);}
  26%{opacity: 0; transform:translateX(-10px) scale(0.9);}
  55% {opacity: 1; transform: translateX(0px) scale(1);}
}

.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

.arrow.primera.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-delay:0.2s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

.round:hover .arrow{
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}
.round:hover .arrow.primera{
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-delay:0.2s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

.step-success {
  .step-circle {
    &::before {
      color: $gray-600;
    }
  }
  .step-text {
    color: $gray-600;
  }
}

li.step {
  width:20%;
  display: flex;
  justify-content: center;
  position: relative;
}

.step-content {
  width: auto;
  min-width: auto;
  max-width: none;
  z-index: 1;
}

.step-circle:before{
  display:none;
}

.step-success:after {
  content: '';
  display: block;
  position: absolute;
  top: 1.25rem;
  left: auto;
  width: 100%;
  height: 2px;
  transform: translate(50%, -50%);
  color: $gray-400;
  background-color: $gray-400;
  z-index: 0;
}

.wizardButtons{
  button:disabled{
    opacity: 0.2;
  }
}

.min-w-7rem{
  min-width:7rem;
}

button.icon-button{
  display: flex;
  align-items: center;
  justify-content: center;

  span.svg-icon{
    line-height:14px!important;
    padding:0 5px;
    svg{
      height:14px!important;
    }
  }
}

