.input-group-text {
  color: #343a40;
  background-color: #ffffff;
}

.input-group-prepend{
  .input-group-text {
    padding-left: 0.5rem;
    padding-right: 0.25rem;
    border-right-width: 0;
  }
}

.input-group{
  input.form-control{
    border-left-width: 0;
  }
}

.form-control:focus {
  box-shadow: none;
  border-color: $primary;
}

