.input-group-text {
  color: #343a40;
  background-color: #ffffff;
}

.input-group-prepend{
  .input-group-text {
    padding-left: 0.5rem;
    padding-right: 0.25rem;
    border-right-width: 0;
  }
}

.input-group{
  input.form-control{
    transition:none;
    border-left-width: 0;
  }
  .input.dropdown-toggle{
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    min-width: 120px;
  }
}

.form-control:focus {
  box-shadow: none;
  border-color: $primary;
}

.dropdown-toggle::after {
  right: 10px;
  position: absolute;
  top: 50%;
}



