.accommodation-card {
  min-width: 320px;
  max-width: 380px;
  width: 25%;
  .card {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
    background-color: $light;
  }

  .card-title {
    font-size: 18px;
  }

  .card-subtitle {
    font-size: 16px;
    svg {
      height: 17px;
      margin-right: 3px;
    }
  }

  .card-rating {
    background-color: gold;
    line-height: 1.3;
    box-shadow: $box-shadow-sm;
    transition: box-shadow 0.3s ease-in-out;
    min-width: 30px;
    text-align: center;
  }

  .rating-text{
    line-height: 1.2;
  }

  &:hover {
    .card {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      background-color: white;
    }
    .card-title {
      color: $primary;
    }
    .card-rating {
      box-shadow: $box-shadow;
    }
  }

  .card-price {
    font-size: 23px;
    font-weight: bold;
  }

  .card-img-top {
    height: 200px;
  }
}
