.popover {
  border: 0;
  border-radius: $border-radius;
  border: 1px solid rgba(0, 0, 0, 0.15);
  //box-shadow: $shadow-float;
  max-width: 400px;
  width: 80%;
  .popover-inner {
    padding: 1.2rem;
    .popover-header {
      background: none !important;
      border: 0;
      font-size: large;
    }
    .popover-body {

    }
  }
}

.location-suggestions{
  min-width: calc(100% - 30px);
  max-height: 70vh;
  overflow: hidden;
  box-shadow: $box-shadow-lg, 26px 3rem 60rem 60rem rgba(0, 0, 0, 0.18);
}
