//todo: find out the variables that are components project dependencies
//components project dependencies
//todo: try bootstrap grey variables
$primary-light-background: #f7f8f8;

//OATS only
$primary-active-color: darken($primary, 7.5%);
$primary-active-background: lighten($primary, 57%);
